.nav {
    margin: 0px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
    padding: 13px 20px;
    border: 1px solid rgb(202, 202, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.layout {
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

a.btn {
    color: #ffff;
}

a.btn:hover {
    color: rgb(224, 221, 221);
}


.buttons-options{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.buttons-left {
    padding: 5px 5px;
}


.buttons-right {
    padding: 5px 5px;
}

.table-content {
    margin: 0px 0px;
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content-principal {
  padding: 0px 0px;
}


nz-avatar {
    margin-right: 10px;
    cursor: pointer;
}

.header-screen {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border: 1px solid rgb(202, 202, 202);
    margin: 0px;
}

.header-screen-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin: 0px;
}

h2 {
    font-size: 1.3em;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

p {
    padding: 0;
    margin: 0;    
}

.icon-content {
    margin-right: 10px;
}

.icon-content-a {
    display: flex;
    align-items: center;

}

.pa {
    margin-top: 11px;
    margin-right: 10px;
}

.content-table {
    margin: 10px;
    padding: 0px 20px;
}


.statists {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
  }
  
  .card-s {
    padding: 10px 10px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 24%;
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-around;
  }

  .img-s {
    
    padding: 10px;
    background-color: bisque;
    border-radius: 50%;
  }
  
.icons-s {
    font-size: 22px;
}