@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;200&display=swap'); */

/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/
.ant-back-top {
  right: 50px !important;
}

:root {
  /**
   * colors
   */

  --united-nations-blue: #418634;
  --bright-navy-blue: #436d3b;
  --spanish-gray: hsl(0, 0%, 60%);
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: #4c943e;
  --blue-ncs: #71f158;
  --gunmetal: hsl(206, 34%, 20%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);

  /**
   * typography
   */

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * border-radius
   */

  --radius-15: 15px;
  --radius-25: 25px;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #202f72;
}

.ant-tabs-tab:hover {
  color: #000000;
}

.menu-sidebar {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
  /* border-radius: 1px solid rgb(63, 63, 63) !important; */
}

.sidebar-logo {
  background-color: #ffffff !important;
  /* border: 1px solid rgb(131, 131, 131) !important; */
}

.app-header {
  background-color: rgb(255, 255, 255) !important;
}

.ant-menu-item a:hover {
  color: rgb(53, 121, 153);
}

.ant-menu-item-selected {
  color: rgb(38, 77, 134) !important;
}

.ant-menu-submenu:hover
  > .ant-menu-submenu-title
  > .ant-menu-submenu-expand-icon,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: rgb(78, 95, 173);
  background-color: rgb(176, 221, 241);
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #1d40a0 !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: rgb(71, 118, 179) !important;
}

li.ant-menu-item.ant-menu-item-selected {
  background-color: rgb(218, 231, 245) !important;
}

.ant-menu-item:hover {
  color: rgb(72, 114, 168) !important;
}

.ant-menu-submenu-title {
  color: rgb(0, 0, 0) !important;
}

.ant-menu-submenu-title:hover {
  color: rgb(98, 155, 201) !important;
}

.ant-menu-submenu-selected {
  color: rgb(98, 194, 201) !important;
}

td,
tr,
th {
  font-size: 14px;
}

/* Colores genericos para los botones */

.button-green {
  appearance: none;
  background-color: #168e31;
  border: 1px solid rgba(27, 31, 35, 0.15);
  /* border-radius: 6px; */
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-green:focus:not(:focus-visible):not(.focus-visible) {
  background-color: #2c974b;
  color: #fff;
  box-shadow: none;
  outline: none;
}

.button-green:hover {
  background-color: #2c974b;
  color: #fff;
}

.button-green:focus {
  background-color: #2c974b;
  color: #fff;
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-green:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-green:active {
  background-color: #2c974b;
  color: #fff;
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
}

.button-red {
  appearance: none;
  background-color: #c62736;
  border: 1px solid rgba(27, 31, 35, 0.15);
  /* border-radius: 6px; */
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-red:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-red:hover {
  background-color: #972c2c;
  color: rgb(255, 255, 255);
}

.button-red:focus {
  color: hsl(0, 0%, 100%);
  background-color: #972c2c;
  box-shadow: rgba(164, 46, 46, 0.4) 0 0 0 3px;
  outline: none;
}

.button-red:disabled {
  background-color: #d39494;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-red:active {
  color: hsl(0, 0%, 100%);
  background-color: #972c2c;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* Button blue */
.button-blue {
  appearance: none;
  background-color: #0051cd;
  border: 1px solid rgba(27, 31, 35, 0.15);
  /* border-radius: 6px; */
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-blue:focus:not(:focus-visible):not(.focus-visible) {
  background-color: #2c5197;
  color: white;
  box-shadow: none;
  outline: none;
}

.button-blue:hover {
  background-color: #2c5197;
  color: #fff;
}

.button-blue:focus {
  color: white;
  background-color: #2c5197;
  box-shadow: rgba(46, 68, 164, 0.4) 0 0 0 3px;
  outline: none;
}

.button-blue:disabled {
  background-color: #94a5d3;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-blue:active {
  color: white;
  background-color: #29448e;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* Button white */
.button-white {
  appearance: none;
  background-color: #f7f7f7;
  border: 1px solid rgba(50, 51, 51, 0.15);
  /* border-radius: 6px; */
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-white:focus:not(:focus-visible):not(.focus-visible) {
  color: rgb(0, 0, 0);
  background-color: #f5f5f5;
  box-shadow: none;
  outline: none;
}

.button-white:hover {
  background-color: #f6f6f6;
  color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.button-white:focus {
  box-shadow: rgba(57, 58, 58, 0.4) 0 0 0 3px;
  outline: none;
}

.button-white:disabled {
  background-color: #dedede;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgb(0, 0, 0);
  cursor: default;
}

.button-white:active {
  background-color: #efeff0;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.boton-azul2 {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 14px;
  border-radius: 2px;
  background-color: #0061f5;
  width: 150px;
  height: 40px;
  text-align: center;
  border: #0061f5;
  color: white;
  cursor: pointer;
}

.boton-azul2:hover {
  background-color: #0051cd;
}

.boton-verde2 {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 14px;
  border-radius: 2px;
  background-color: #168e31;
  width: 150px;
  height: 40px;
  text-align: center;
  border: #168e31;
  color: white;
  cursor: pointer;
}

.boton-verde2:hover {
  background-color: #2c974b;
  color: white;
}

.cursor {
  cursor: pointer;
}